form{
    display: grid;
    position: absolute;
    justify-content: center;
    align-items: center;
    left:50%;
    right:50%;
    transform: translateY(-25dvh);
    border: 2px solid black;
    border-radius: 15% ;
    width: 20dvw;
    height: 50dvh;
    background-color:rgba(255,255,255,0.4);
}

#data_entry_progress_bar{
  display: none;
  min-width: 0%;
  max-width: 100%;
  height: 100%;
  background-color: rgb(87, 226, 87);
  align-items: center;
  justify-content: center;
  transition: all 1s ease-out;
}

#progress_text{
    display: none;
    align-items: center;
    justify-content: center;
    transform: translateY(-150%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 2dvh;
}

input,select{
    width: 10dvw;
    height: 5dvh;
    border: 2px solid black;
    background-color: rgb(240, 247, 255);
}

input[type='submit']{
    border-radius: 25%;
    border: 2px solid transparent;
    background-color: transparent;
}

input[type='submit']:hover{
     background-color: rgba(255, 255, 255, 0.841);
}

@media (min-width:300px) and (max-width:600px){

    form{
    height:40dvh;
    width: 50dvw;
    transform: translate(-7.5dvw,-20dvh);
   }

   #data_entry_progress_bar{
    height: 250%;
    transform: translateY(30%);
   }

   #progress_text{
    transform: translateY(-75%);
    font-size: 12px;
   }

   input,select{
    width: 35dvw;
   }

   label{
    font-size: 16px;
    }
    
}

@media (min-width:601px) and (max-width:900px){

   form{
    height:37dvh;
    width: 45dvw;
    transform: translate(-5dvw,-16dvh);
   }

   #data_entry_progress_bar{
    height: 850%;
    transform: translateY(45%);
   }

   #progress_text{
    transform: translateY(-25%);
    font-size: 12px;
   }

   input,select{
    width: 25dvw;
   }

   label{
    font-size: 18px;
    }

}


@media (min-width:901px) and (max-width:1920px){

   form{
    height:45dvh;
    width: 25dvw;
    transform: translate(-3dvw,-20dvh);
   }

   #data_entry_progress_bar{
    height: 200%;
    transform: translateY(25%);
   }

   #progress_text{
    transform: translateY(-80%);
    font-size: 14px;
   }
 
   input,select{
    width: 15dvw;
   }

   label{
    font-size: 20px;
    }

}