.score_container{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-15dvw, 15dvh);
    width: 60dvw;
    height: 50dvh;
    border: 2px solid transparent;
}

canvas[id="score_percentage"]{
  background-color: transparent;
  
}

.warning{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: bold;
  transform: translateX(30dvw);
}

@media (min-width:300px) and (max-width:600px){
  
  .score_container{
    width: 50dvw;
    transform: translate(5dvw, 0dvh);
  }

  .warning{
    font-size: 18px;
    transform: translateX(10dvw);
  }
}

@media (min-width:601px) and (max-width:900px){

  .score_container{
     width: 50dvw;
     transform: translate(4dvw, 0dvh);
  }

  .warning{
    font-size: 24px;
    transform: translateX(10dvw);
  }

}
