.score_container{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-15dvw, 15dvh);
    width: 60dvw;
    height: 50dvh;
    border: 2px solid transparent;
}

canvas[id="score_percentage"]{
  background-color: transparent;
  
}

@media (min-width:300px) and (max-width:600px){
  
  .score_container{
    width: 50dvw;
    transform: translate(5dvw, 0dvh);
  }
}

@media (min-width:601px) and (max-width:900px){

  .score_container{
     width: 50dvw;
     transform: translate(4dvw, 0dvh);
  }
}
