html, body{
    height: 100%;
    margin:0;
    padding:0;
}


.App{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.nav-bar{
    width: 20dvw;
    height: 100dvh;
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: darkblue;
}

button{
    border: 10px solid transparent;
    height: 5dvh;
    width: 10dvw;
    background-color: transparent;
    margin-bottom: 2dvh;
    position: relative;
    align-self: center;
}

button:hover{
   background-color: rgb(3, 3, 95);
}

span{ 
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

.hidden{
    display: none;
}

@media (min-width:300px) and (max-width:600px){

    .nav-bar{
        width: 35dvw;
        height: 100dvh;
        overflow: hidden;
    }

    button{
         height: 6dvh;
         width: 35dvw;
         margin-bottom: 1dvh;
         overflow: hidden;
    }
}

@media (min-width:601px) and (max-width:900px){
   .nav-bar{
        width: 35dvw;
        height: 100dvh;
        overflow: hidden;
    }

    button{
         height: 6dvh;
         width: 35dvw;
         margin-bottom: 1dvh;
         overflow: hidden;
    } 
}

@media (min-width:901px) and (max-width:3840px){
     .nav-bar{
        width: 20dvw;
        height: 100dvh;
        overflow: hidden;
    }

    button{
         height: 5dvh;
         width: 10dvw;
         margin-bottom: 2dvh;
         overflow: hidden;
    }

}