form{
    display: grid;
    position: absolute;
    justify-content: center;
    align-items: center;
    left:50%;
    right:50%;
    transform: translateY(-25dvh);
    border: 2px solid black;
    width: 20dvw;
    height: 50dvh;
    visibility: visible;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 2dvh;
}

input,select{
    width: 10dvw;
    height: 5dvh;
}

input[type='button']{
    border-radius: 25%;
    border: 2px solid white;
    background-color: white;
}

input[type='button']:hover{
     background-color: rgba(245, 245, 245, 0.712);
}

input,select{
  border: 2px solid black;
  background-color: white;
}