form{
    display: grid;
    position: absolute;
    justify-content: center;
    align-items: center;
    left:50%;
    right:50%;
    transform: translateY(-25dvh);
    border: 2px solid black;
    border-radius: 15% ;
    width: 20dvw;
    height: 50dvh;
    background-color:rgba(255,255,255,0.3);
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 2dvh;
}

input,select{
    width: 10dvw;
    height: 5dvh;
}

input[type='submit']{
    border-radius: 25%;
    border: 2px solid transparent;
    background-color: transparent;
}

input[type='submit']:hover{
     background-color: rgba(255, 255, 255, 0.911);
}

input,select{
  border: 2px solid transparent;
  background-color: rgb(240, 247, 255);
}

@media (min-width:300px) and (max-width:600px){

    form{
    height:40dvh;
    width: 50dvw;
    transform: translate(-7.5dvw,-20dvh);
   }

   input,select{
    width: 35dvw;
   }

   label{
    font-size: 16px;
    }
    
}

@media (min-width:601px) and (max-width:900px){

   form{
    height:37dvh;
    width: 45dvw;
    transform: translate(-5dvw,-16dvh);
   }

   input,select{
    width: 25dvw;
   }

   label{
    font-size: 18px;
    }

}


@media (min-width:901px) and (max-width:1920px){

   form{
    height:45dvh;
    width: 25dvw;
    transform: translate(-3dvw,-20dvh);
   } 
 
   input,select{
    width: 15dvw;
   }

   label{
    font-size: 20px;
    }

}