.score_container{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50vw, -75vh);
    width: 20vw;
    height: 50vh;
}

@media (min-width:300px) and (max-width:600px){
  
  .score_container{
    width: 50dvw;
    transform: translate(5dvw, 0dvh);
  }
}

@media (min-width:601px) and (max-width:900px){

  .score_container{
     width: 50dvw;
     transform: translate(4dvw, 0dvh);
  }
}
