.stats_container {
  display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50dvw;         
  margin: 0 auto;
  padding: 1rem;
}

canvas {
  flex: 0 1 calc(50% - 1rem);
  height: 250px !important;   
}